.yellow-block{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.photo-column{
    background-color: teal;
    height: 900px;
}
#photo-gallery{
    background-color: tomato;
    height: 900px;
}
.photo-sm{
    width: 100%;
    height: 380px;
    background-color: thistle;
    margin-top: 20px;
    overflow: hidden;
}
.photo-big{
    width: 100%;
    height: 480px;
    background-color: saddlebrown;
    margin-top: 20px;
    overflow: hidden;
}
    @media(min-width: 575.98px){
        .vedio{
            margin-top: 20px;
            width: 100%;
            height: 400px;
        }
    }
    @media(min-width: 767.98px){
        .vedio{
            margin-top: 20px;
            width: 100%;
            height: 600px;
        }
    }
    @media(min-width: 991.98p){
        .vedio{
            margin-top: 20px;
            width: 100%;
            height: 800px;
        }
    }
